/** 
 * Buttons
 */

    .btn {
      cursor: pointer;
    }

    .btn-circle {
      border-radius: 100%;
    }

    .btn-success-alt {
        background-color: $brand-success-alt;
        color: $color-white;
    }

    .btn-success-alt:hover,
    .btn-success-alt:active
     {
        background-color: $brand-success-alt-dark;
        color: $color-white !important;
    }

    .btn-terciary {
        background-color: $brand-terciary;
        color: $color-white;
    }

    .btn-terciary:hover,
    .btn-terciary:active
     {
        background-color: $brand-terciary-dark;
        color: $color-white !important;
    }

    .btn-search {
        margin-top: 33px !important;
    }