/** 
 * Legends
 */

#legend {
    .card-header {
        font-size: 1.1rem;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 10px;
            color: $color-gray;

            span {
                margin-right: 10px;
            }

            .info {
                font-weight: 900;
                float: left;
                width: 100px;
                color: $color-gray-dark;
            }
        }

        li.alternate:nth-child(odd) {
            background: $brand-yellow;
        }
    }
}