.defaultMap {
    width:      100%;
    border:     1px solid $color-gray;  
    z-index:    999 !important;  
}

#map {
    @extend     .defaultMap;
}

#simpleMap { 
    @extend     .defaultMap;
    height:     300px;
}