/** 
 * Tabs
 */
.nav-tabs > li > a {
    color: $color-gray;
    background-color: $color-gray-light;
    border: 1px solid $color-gray !important;
    margin: 0 1px;
}

/** 
 * Tab: border-color
 */
.nav-tabs > li > a:hover {
    background-color: $color-gray-light; 
    color: $color-white;
}

/** 
 * Tab: active
 */
.nav-tabs > li > a.active, 
.nav-tabs > li > a.active:hover, 
.nav-tabs > li > a.active:focus {
  background-color: $brand-danger !important; 
  border-color: darken($brand-danger, 15%) !important;
  color: $color-white !important;
}